//
// Buttons
// --------------------------------------------------

.btn-primary {
	background-color: #2f405d;
	border-color: #2f405d;
}

.btn-secondary {
	background: #6e7074;
	border-color: #a6a6a6;
}
