//
// Cards
// --------------------------------------------------

.card {
	border: 1px solid #a6a6a6;
}

.card-header {
	background: white;
	border: none;
}

#start,
#projects {
	.card {
		border: none;

		img.rounded {
			border-radius: 0.5rem !important;
		}

		.card-title {
			color: #2f405d;
		}
	}
}

#whiteboard {
	span.card-divider-horizontal {
		border-bottom: 2px solid black;
		width: 40px;
		height: 0;
	}
}
