//
// Cards
// --------------------------------------------------

.card {
	background: #565d62;
}

.card-title {
	color: #fff;
	text-shadow: 0 1px 1px #333;
}

#start,
#projects {
	.card {
		border: none;

		img.rounded {
			border-radius: 0.5rem !important;
		}
	}
}

#whiteboard {
	span.card-divider-horizontal {
		border-bottom: 2px solid black;
		width: 40px;
		height: 0;
	}
}
