//
// Cards
// --------------------------------------------------

.card {
	border: 1px solid #a6a6a6;
	background: #e9ecef;
	padding: 15px;
}

.card-header {
	background: white;
	border: none;
}

#start,
#projects {
	.card {
		border: none;

		img.rounded {
			border-radius: 0.5rem !important;
		}

		.card-title {
			color: #2f405d;
			font-size: 16px;
		}

		.card-body {
			padding: 10px 0;
		}
	}
}

#whiteboard {
	.card {
		margin: 0 50px 50px 0;
		position: relative;
		padding: 0;
	}

	span.card-divider-horizontal {
		border-bottom: 2px solid black;
		width: 40px;
		height: 0;
	}
}

#start .template-thumb {
	width: 160px;
	margin: 0 auto;
	opacity: 0.8;
}

#projects .template-thumb {
	width: 120px;
	margin: 0 auto;
	opacity: 0.8;
}
