.editable-container {
	cursor: pointer;
	position: relative;
	padding: 0 25px 0 25px;

	.editable-button {
		cursor: pointer;
		display: none;
		padding: 0 0 0 0;
		position: absolute;
		right: 5px;
		top: -5px;
	}

	&:hover {
		.editable-button {
			display: inline-block;
		}
	}
}

.editable-icon {
	font-size: 12px;
}

.editable-text {
	border-bottom: dotted 1px $white;
}

.editable-form {
	display: inline-block;
	margin-bottom: -3px;

	.form-control {
		font-size: 1rem;
	}
}
