//
// Example Wrapper
// --------------------------------------------------

.preview-wrapper {
	height: 0;
	margin-bottom: 15px;
	position: relative;
	padding: 0 0 75vh 0;
}

.preview {
	border: 1px solid gray;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;

	&.desktop { width: 100%; }
	&.tablet { width: 768px; }
	&.phone { width: 375px; }
}

.syntax-view {
	border-top: 1px solid #666;
	padding-top: 30px;
}

.tab-content {
	border: 1px solid #dee2e6;
	border-top: none;
	padding: 30px;
}
