//
// Example Wrapper
// --------------------------------------------------

.preview-wrapper {
	height: 0;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	padding: 0 0 80vh 0;
}

.preview {
	border: 1px solid gray;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.syntax-view {
	border-top: 1px solid #666;
	padding-top: 30px;
}

.tab-content {
	border: 1px solid #dee2e6;
	border-top: none;
	padding: 30px;
}
