.treeview-icon {
	width: 1em;
	font-size: 14px;
	&.opened { opacity: 0.5; }
}

.treeview-link {
	&:hover { text-decoration: none; }
	&.active { color: $link-hover-color }
}

.treeview-pages-list {
	margin-left: 2em;
}
