.treeview-icon {
	width: 1em;
	font-size: 14px;
	&.opened { opacity: 0.5; }

	color: #2f405d;
}

.treeview-link {
	color: #2f405d;
	&:hover { text-decoration: none; }
	&.active { color: $link-hover-color; }
}

.treeview-pages-list {
	margin-left: 2em;
}

.col-3 .list-unstyled {
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #a6a6a6;

	.list-unstyled {
		border: none;
	}
}
